.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.admin-container h1 {
  margin-bottom: 28px;
}


.btn-register {
  margin-bottom: 28px;
}

#btn-register {
  color: #25ff54;
  background-color: #000;
  transition: all 0.6s;
}

#btn-register:hover {
  width: 220px;
  height: 45px;
}

#btn-update {
  color: #25ff54;
  background-color: #000;
  transition: all 0.6s;
}

#btn-update:hover {
  width: 220px;
  height: 45px;
}

.list {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 18, 18, 0.38);
  border-radius: 4px;
  margin-bottom: 12px;
  justify-content: center;
  padding: 20px 20px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}

.list p{
  margin-bottom: 20px;
}

.list button {
  margin-right: 8px;
  border: 0;
  border-radius: 4px;
  padding: 8px;
}

.btn-edit {
  color: #ffcc23;
  background-color: #000;
  
}

.btn-delete{
  color: #000000;
  background-color: #25ff54;
}

.btn-logout {
  position: fixed;
  bottom: 6%;
  right: 5%;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: 0;
  font-weight: bold;
  background-color: rgba(219, 38, 41, 0.5);
  color: #fafafa;
}

.btn-logout:hover{
  background-color: rgba(219, 38, 41, 1);
  color: #FFF;
}

